/*--------------------> Global <--------------------*/
/*--- disable is used for modal and "next station" appearing, modal input disappearing ---*/
.disabled {
  display: none !important;
}

.html, body{
  padding: 0;
  margin: 0;
}
html, body, #root{
  height: 100%;
}

.Link {
  text-decoration: none;
}
.Station {
  min-height: 100%;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;
  background: no-repeat center border-box url("img/quest2.png");
  background-size: contain;
  text-align: center;
}

.title {
  margin-top: 20px;
  height: 30%;
  box-sizing: border-box;
}

.Station h1 {
  margin: 0;
  font-size: calc(10px + 8vmin);
  color:rgb(43, 49, 49);
  text-shadow: 0px 5px rgb(186, 243, 240) ;
}
.Station h2 {
  margin: 0;
  margin-bottom: 50px;
  font-size: calc(20px + 3vmin);
  color:rgb(54, 52, 41);
  text-shadow: 0px 3px rgb(243, 224, 118) ;
}
.Station .pic {
  width: 90%;
  height: calc(200px + 30vh);
  animation: squeshie 1s ease-in-out alternate infinite;
}
/*--------------------> Modal <--------------------*/
.curtain {
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  background: white;
  height: 60vh;
  width: 80vw;
}
input {
  margin: 0;
  padding: 0;
  padding-left: 10vw;
  box-sizing: border-box;
  display: block;
  width: 80vw;
  font-size: calc(30px + 4vmin);
  text-align: center;
  letter-spacing: 10vw;
  background: rgba(0,0,0,0.2);
  border: none;
}
/*--------------------> StartScreen <--------------------*/
.StartScreen {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-end;
  background: no-repeat center border-box url("img/quest1.png");
  background-size: contain;
  min-height: 100vh;
}

.StartScreen div {
  width: 100vw;
  color: white;
}

.StartScreen h1 {
  margin: 0;
  width: 100vw;
  text-align: center;
  margin-bottom: calc(20px + 5vh);
  font-size: calc(40px + 4vmin);
  color:rgb(105, 79, 79);
  animation: squeshie 1s ease-in-out alternate infinite;
  text-shadow: 
  0px 3px rgb(255, 138, 138), 
  0px -3px rgb(255, 138, 138),
  3px 0px rgb(255, 138, 138),
  -3px 0px rgb(255, 138, 138),
  3px 3px rgb(255, 138, 138), 
  -3px -3px rgb(255, 138, 138),
  3px -3px rgb(255, 138, 138),
  -3px 3px rgb(255, 138, 138);
}
/*--------------------> St 1 <--------------------*/
.st1 {
  background: no-repeat center border-box url("img/1q.png");
  background-size: contain;
}
/*--------------------> St 2 <--------------------*/
.st2 {
  background: no-repeat center border-box url("img/2q.png");
  background-size: contain;
}
/*--------------------> St 3 <--------------------*/
.st3 {
  background: no-repeat center border-box url("img/3q.png");
  background-size: contain;
}
/*--------------------> St 4 <--------------------*/
.st4 {
  background: no-repeat center border-box url("img/4q.png");
  background-size: contain;
}
/*--------------------> St 5 <--------------------*/
.st5 {
  background: no-repeat center border-box url("img/5q.png");
  background-size: contain;
}
/*--------------------> St 6 <--------------------*/
.st6 {
  background: no-repeat center border-box url("img/6q.png");
  background-size: contain;
}

/*--- animations ---*/

@keyframes squeshie {
  from { transform: scale(1); }
  to { transform: scale(1.05); }
 }